<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.DataMapper">

    <select id="getLastDate" parameterType="String" resultType="String">
        select max(h_date)
		from history
		where ticker = #{value}
		group by ticker
    </select>

    <insert id="insert" parameterType="List">
		insert into history 
		(
			ticker
			, h_date
			, open_price
			, high_price
			, low_price
			, close_price
			, h_change
		) 
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.ticker}
			, #{item.date}
			, #{item.openPrice}
			, #{item.highPrice}
			, #{item.lowPrice}
			, #{item.closePrice}
			, #{item.change}
		)
		</foreach>
    </insert>

    <select id="select" parameterType="String" resultType="Map">
		select ticker
			, h_date as 'date'
			, open_price as 'openPrice'
			, high_price as 'highPrice'
			, low_price as 'lowPrice'
			, close_price as 'closePrice'
			, h_change as 'change'
		from history
		where ticker = #{value}
		order by h_date
    </select>
    
</mapper>