<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.DataMapper">

    <select id="getLastDate" parameterType="String" resultType="String">
        select max(h_date)
		from history
		where ticker = #{value}
    </select>

    <insert id="insert" parameterType="List">
		insert into history 
		(
			ticker
			, h_date
			, open_price
			, high_price
			, low_price
			, close_price
			, h_change
		) 
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.ticker}
			, #{item.date}
			, #{item.openPrice}
			, #{item.highPrice}
			, #{item.lowPrice}
			, #{item.closePrice}
			, #{item.change}
		)
		</foreach>
    </insert>

    <select id="select" parameterType="String" resultType="Map">
		select ticker
			, h_date as 'date'
			, open_price as 'openPrice'
			, high_price as 'highPrice'
			, low_price as 'lowPrice'
			, close_price as 'closePrice'
			, h_change as 'change'
		from history
		where ticker = #{value}
		order by h_date
    </select>

    <select id="getLastSeq" parameterType="String">
		select max(seq)
		from buy_ticker
    </select>
    
    <insert id="insertBuyTicker" parameterType="List">
		insert into buy_ticker 
		(
			seq
			, b_date
			, ticker
			, weight
			, best_length
			, best_percent
			, average_by_plus
			, average_by_minus
		) 
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.seq}
			, #{item.date}
			, #{item.ticker}
			, #{item.weight}
			, #{item.bestLength}
			, #{item.bestPercent}
			, #{item.averageByPlus}
			, #{item.averageByMinus}
		)
		</foreach>
    </insert>

    <select id="selectBuyTicker" parameterType="int">
		select b_date as 'date'
			, ticker
			, weight
			, best_length as 'bestLength'
			, best_percent as 'bestPercent'
			, average_by_plus as 'averageByPlus'
			, average_by_minus as 'averageByMinus'
		from buy_ticker
		where seq = #{num}
		order by b_date
    </select>
    
    <insert id="insertBuyResult" parameterType="Map">
		insert into buy_ticker 
		(
			seq
			, subSeq
			, profitAndLoss
			, avgProfitAndLossByMonth
			, avgProfitAndLossByYear
			, avgSuccessPercent
			, avgSuccessChange
			, avgFailPercent
			, avgFailChange
			, jsonStr
		) 
		values 
		(
			#{seq}
			, #{subSeq}
			, #{profitAndLoss}
			, #{avgProfitAndLossByMonth}
			, #{avgProfitAndLossByYear}
			, #{avgSuccessPercent}
			, #{avgSuccessChange}
			, #{avgFailPercent}
			, #{avgFailChange}
			, #{jsonStr}
		)
    </insert>
    
</mapper>